export PYTHONPATH="/home/username/path/to/datajobs-elt:$PYTHONPATH"
export AIRFLOW_HOME=/home/username/airflow
export AIRFLOW__CORE__DAGS_FOLDER=/home/username/path/to/datajobs-elt/dag
export AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow_user:airflow@localhost/airflow_db
export AIRFLOW__CORE__EXECUTOR=LocalExecutor
export AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin
export AIRFLOW__CORE__LOAD_EXAMPLES=False
export AIRFLOW__CORE__TEST_CONNECTION=Enabled

export AIRFLOW__LOGGING__REMOTE_LOGGING=True
export AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=aws_default
export AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=cloudwatch://arn:aws:logs:aws_region:your_aws_account_id:log-group:datajobs-pipeline-logs

export AIRFLOW_CONN_SMTP_DEFAULT='{"conn_type": "smtp", "host": "smtp.gmail.com", "login": "youremail@gmail.com", "password": "your_password", "port": 587, "extra": {"disable_ssl": true}}'
export EMAIL="youremail@gmail.com"